<ion-content class="ion-padding">

  <ion-card color="light">
    <ion-card-content class="ion-text-center">
      <h2>Estudiante: {{ nombreEstudiante }}</h2>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let item of contadores; let i = index">
    <ion-card [color]="item.color">

      <ion-card-header>
        <ion-card-title>
          Múltiplo de {{ item.multiplo }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <h2>Valor: {{ item.valor }}</h2>

        <ion-button
          color="light"
          (click)="aumentarContador(i)">
          + {{ item.multiplo }}
        </ion-button>

        <ion-button
          color="light"
          [disabled]="item.valor === 0"
          (click)="reiniciarContador(i)">
          Reiniciar
        </ion-button>
      </ion-card-content>

    </ion-card>
  </div>

  <ion-button
    expand="block"
    (click)="togglePrimos()">
    {{ mostrarPrimos ? 'Ocultar Primos' : 'Mostrar Primos' }}
  </ion-button>

  <ion-card *ngIf="mostrarPrimos">
    <ion-card-header>
      <ion-card-title>Números Primos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-chip *ngFor="let primo of numerosPrimos">
        {{ primo }}
      </ion-chip>
    </ion-card-content>
  </ion-card>

</ion-content>